
h1{
    text-align: center;
    font-size: 35px;
    color: orange;
    border-bottom: 1px solid black;
    background-color: dimgray;
    
    
}
h2{
    text-align: center;
    color: darkgreen;
}
h3{
    text-align: center;
    color: darkgreen;
    font-size: 25px;
}
h4{
    
    color: blueviolet;
}
table{
    border-collapse: collapse;
    width: 60%;
    height: 450px;
    
    margin-bottom: 30px;
}

